<ion-tabs class="tab-bar">
  <ion-tab title="Notification" icon="icon-notification" ui-sref="notification">
    <ion-nav-view name="notification-content"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Friends" icon="icon-friends" ui-sref="friends">
    <ion-nav-view name="friends-content"></ion-nav-view>
  </ion-tab>
  <ion-tab ui-sref="play">
    <ion-nav-view name="quiz-content"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Profile" icon="icon-giving-love" ui-sref="profile">
    <ion-nav-view name="profile-content"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Activity" icon="icon-task" ui-sref="activity">
    <ion-nav-view name="activity-content"></ion-nav-view>
  </ion-tab>

  <div ui-sref="play" class="organization-icon" style="background-image: url('{{organization.attr('picture') || 'img/givdo-icon-orange.png'}}');"></div>
</ion-tabs>

