<ion-tabs class="tabs-striped tabs-color-light">
  <ion-tab icon="notification-icon"></ion-tab>
  <ion-tab icon="friends-icon" ui-sref="friends">
    <ion-nav-view name="friends-content"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="organization-logo-icon" ui-sref="play">
    <ion-nav-view name="quiz-content"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="giving-love-icon" ui-sref="profile">
    <ion-nav-view name="profile-content"></ion-nav-view>
  </ion-tab>
  <ion-tab icon="task-icon"></ion-tab>
</ion-tabs>

<!-- <div class="bar bar-footer">
  <div class="footer-last-game"><div ui-sref="play" class="player" style="background-image: url('img/dog-rescue.jpg'); float: none; position: absolute; width: 70px; height: 70px; left: 12%; border: solid 3px #96939b;"></div></div>
  <div class="footer-button"><img src="img/giving-love.png"></div>
  <div class="footer-button"><img src="img/task.png"></div>
</div> -->
