<div class="margin-top-40">
	<img src="img/gdlogo.png" class="img-responsive" />
</div>

<div class="list margin-top-40">
	<label class="item item-input">
		<input type="text" placeholder="First Name">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Last Name">
	</label>
	<label class="item item-input">
		<input type="email" placeholder="Email">
	</label>
	<label class="item item-input">
		<input type="password" placeholder="Password">
	</label>
	<label class="item item-input">
		<input type="password" placeholder="Re-Enter Password">
	</label>
</div>

<button class="button button-block button-positive margin-top-20">
	Signup
</button>

