<div class="margin-top-40 donate_amt">
	<button class="button button-outline button-energized">
	  .10
	</button>
	<button class="button button-outline button-energized">
	  .25
	</button>
	<button class="button button-outline button-energized">
	  .50
	</button>
	<button class="button button-outline button-energized">
	  1.00
	</button>
	<button class="button button-outline button-energized">
	  5.00
	</button>
</div>

<td-cards>
	<td-card ng-repeat="card in cards" on-swipe-left="leftSwipe($index)" on-swipe-right="rightSwipe($index)">
		<div class="title">
			{{card.name}}
		</div>
		<div class="image">
			<div class="no-text overlayBox">
				<div class="noBox boxed">
					Trash
				</div>
			</div>
			<img ng-src="{{card.picture}}">
			<div class="yes-text overlayBox">
				<div class="yesBox boxed" id="centerMe">
					Save
				</div>
			</div>
		</div>
	</td-card>
</td-cards>

<div class="margin-top-10 donate_amt">
	<button class="button button-outline button-energized" id="toggle">
	  Donate
	</button>
	<button class="button button-outline button-energized" id="toggle">
	  Volunteer
	</button>
</div>