<div class="margin-top-40 donate_amt">
	<button class="button button-outline button-energized coin">
	  1
	</button>
	<button class="button button-outline button-energized coin">
	  2
	</button>
	<button class="button button-outline button-energized coin">
	  3
	</button>
	<button class="button button-outline button-energized coin">
	  4
	</button>
	<button class="button button-outline button-energized coin">
	  5
	</button>
</div>

<td-cards>
	<td-card ng-repeat="card in cards" on-swipe-left="leftSwipe($index)" on-swipe-right="rightSwipe($index)">
		<div class="image">
			<img ng-src="{{card.picture}}">
		</div>
		<div class="title">
			{{card.name}}
		</div>
		<div class="location">
		{{card.city}}
		{{card.state}}
		</div>
		<div class="mission">
		{{card.mission}}
		</div>
	</td-card>
</td-cards>

<div class="margin-top-10 donate_amt">
	<button class="button button-outline button-energized" id="toggle">
	  Donate
	</button>
	<button class="button button-outline button-energized" id="toggle">
	  Volunteer
	</button>
</div>