.bar.bar-energized {
    background-color: #564256 !important;
}

.profile-picture, .cover, .your, .opponent {
    background-size: cover;
    background-position: center;
    height: 270px;
    position: relative;
}

.profile-picture, .profile-name {
    position: absolute;
}

.profile-picture, .your, .opponent {
    border-radius: 100%;
    border: solid 2px #fff;
    width: 100px;
    height: 100px;
    bottom: 15px;
    left: 15px;
}

.your, .opponent {
    width: 60px;
    height: 60px;
    bottom: 0px;
    left: 0px;
}
.your {
    float: left;
}

.versus, .title-box {
    margin: 20px 10px;
}

.opponent {
    float: right;
}

.profile-name{
    display: block;
    color: #fff;
    font-size: 25px;
    bottom: 40px;
    left: 132px;
}
.profile-contents{
    padding: 10px;
    color: #96939b;
    font-size: 20px;

}
.profile-contents > img {
    width: 82px;
    margin: 18px 3px 12px;
}
.profile-contents > span {
    display: block;
    border-bottom: solid 1px #564256;
    padding: 4px 0px 10px 0px;
}

.new-game, .welcome {
    background-color: #ff9933 !important;
}
.calm-item {
    background-color: none !important;
}

.title-box {
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 31px;
}

/* sizes */
.half-width { width: 50%}



.card, .list-inset, .item {
    background: none !important;
}
/* list items 
.item {
    color: #fff !important;
    border: solid 2px #fff !important;
    margin: 11px !important;
    font-weight: 700;

}*/

.givdo-option {
    color: #fff !important;
    margin: 10px !important;
    border: solid 1px #fff !important;
    margin: 11px !important;
    font-weight: 400;
}

.badge-givdo {
    width: 87px;
    font-size: 14px;
    text-align: center;
    float: left;
    margin: 9px;
}
.badge-givdo img {
    width: 100%;
}

.welcome-box {
    background: url('/img/welcome-screen-background.png');
    height: 204px;
    text-align: center;
}

.welcome-box > .profile-picture {
    bottom: -118px !important;
    position: relative;
    margin: auto;
    left: 0px;
}

.message-box {
    background: #fff;
    padding: 16px;
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    color: #564256;
    line-height: 27px;
}


/* generic */
.clearfix {
    clear: both;
}