.img-responsive {
	width:100%;
	display:block;
}

.margin-top-40 {
	margin-top:40px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-10 {
	margin-top:10px;
}

.padding-20 {
	padding:20px;
}

.padding-topbottom-20 {
	padding:0 20px;
}

.button-across {
	display:block;
	width:100%;
}