<ion-content>
  <ion-header no-border class="header-black">
    <ion-toolbar transparent>

      <ion-title class="theme-black">Activity</ion-title>

      <button end ion-button menuToggle>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>

  <section class="content-app">
    <!-- 
      Originally, the customized web component 'notifications' is used as following.
      But, I replaced it.
     -->
    <!-- <div class="notifications">
      <notification-item [buttons]="false"
                         *ngFor="let activity of activities"
                         [notification]="notification"
      >
      </notification-item>
    </div> -->
    <ion-list>
      <ion-item class="activity" *ngFor='let activity of activities'>
        <ion-avatar item-left>
          <img class="avater" src="{{activity.sender_image}}">
        </ion-avatar>
        <p> {{activity.orgName}} </p>
        <p> You {{activity.gameResult}} : {{activity.score}} </p>
      </ion-item>
    </ion-list>

  </section>

  <div class="activity-score">
    Total donations: <strong>${{ totalDonation }}</strong>
  </div>
</ion-content>
