.grand-total {
  @include clearfix();
  width: 100%;
  position: fixed;
  background-color: $white;
  padding-bottom: 80px;
  text-align: right;
  bottom: 0;
  border-top: solid 1px lighten($tab-bar-border-color, 20%) !important;
  box-shadow: 0 0 15px 0px rgba($black, .2);

  .title{
    width: initial;
    height: 55px;
    line-height: normal;
    float: right;
    padding: 10px 10px 10px 35px;
    background-size: 25px 25px;
    margin: 0;
    display: inline-block;
    font-size: 26px;

    span{
      color: $orange;
    }
  }
}
