.title{
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
  margin-bottom: 20px;
  border-bottom: dotted 1px rgba($gray, .2);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  font-size: 18px;
  font-weight: 200;
  color: $gray;

  &--your-friends{
    background-image: url(../img/icons/friends.png);
  }

  &--potential-friends{
    background-image: url(../img/icons/friends-potential.png);
  }

  &--play{
    background-image: url(../img/icons/play.png);
  }

  &--notification{
    background-image: url(../img/icons/notification.png);
  }

  &--causes{
    background-image: url(../img/causes-icon.png);
  }

  &--achievements{
    background-image: url(../img/achievements-icon.png);
  }

  &--task{
    background-image: url(../img/task-small.png);
  }

  &--give-money{
    background-image: url(../img/give-money.png);
  }
}
