<ion-view>
  <ion-content>
    <div class="cover" style="background-image: url('{{ user.cover }}')">
      <div class="profile-picture" style="background-image: url('{{ user.attr('image') }}');"></div>
      <span class="profile-name">{{ user.attr('name') }}</span>
    </div>

    <div class="container">
      <ion-list type="card">
        <ion-item class="item-button-right"  ng-class="organization ? 'item-avatar' : ''" ng-click="changeOrganization()">
          <img ng-if-start="organization" ng-src="{{organization.attr('picture')}}">
          <h2>{{organization.attr('name')}}</h2>
          <p ng-if-end>{{organization.attr('mission') | limitTo:100}}</p>
        </ion-item>
      </ion-list>

      <div class="profile-contents" ng-hide="causes">
        <h2 class="title title--causes">Your Causes</h2>

        <img ng-src="img/causes/{{cause.attributes.name}}.jpg" ng-repeat="cause in causes">
      </div>

      <div class="profile-contents" ng-hide="badges">
        <h2 class="title title--achievements">Your Achievements</h2>

        <div class="badge-givdo" ng-repeat="badge in badges">
          <img ng-src="img/badges/{{$index + 1}}A.png">
          {{badges_name[$index]}}
        </div>

        <div class="badge-givdo" ng-repeat="n in range((badges.length), 6)">
          <img ng-src="img/badges/{{n + 1}}.png">
          {{badges_name[n]}}
        </div>
      </div>

      <div class="button-bar padding">
        <button class="button button-royal" ng-click="goBack()">Back to friends</button>
      </div>
    </div>
  </ion-content>
</ion-view>
