<ion-view>
  <ion-content>
    <div class="container">
      <h2 class="title title--your-friends">Your Friends</h2>

      <div class="friend-list">
        <div class="friend-list__item" ng-repeat="friend in friends | limitTo:quantity">
          <a href="#/app/friend/show/{{ friend.id }}">
            <figure class="friend-list__photo"><img ng-src="{{ friend.attr('image') }}" /></figure>
            <div class="friend-list__badge"><img src="img/badges/1A.png" /></div>
          </a>
        </div>

        <div ng-if="friends.length > quantity" class="button-bar padding">
          <button class="button orange">See all friends</button>
        </div>
      </div>


      <!--
      <h2 class="title title--potential-friends">Potential Friends</h2>

      <div class="friend-list">
        <div class="friend-list__item">
          <figure class="friend-list__photo"><img src="img/vinicius.jpg" /></figure>
          <div class="friend-list__badge"><img src="img/badges/1A.png" /></div>
        </div>

        <div class="friend-list__item">
          <figure class="friend-list__photo"><img src="img/saney.jpg" /></figure>
          <div class="friend-list__badge"><img src="img/badges/2A.png" /></div>
        </div>

        <div class="friend-list__item">
          <figure class="friend-list__photo"><img src="img/leo.jpg" /></figure>
          <div class="friend-list__badge"><img src="img/badges/2A.png" /></div>
        </div>

        <div class="friend-list__item">
          <figure class="friend-list__photo"><img src="img/gustavo.jpg" /></figure>
          <div class="friend-list__badge"><img src="img/badges/3A.png" /></div>
        </div>

        <div class="friend-list__item">
          <figure class="friend-list__photo"><img src="img/felipe.jpg" /></figure>
          <div class="friend-list__badge"><img src="img/badges/4A.png" /></div>
        </div>

        <div class="friend-list__item">
          <figure class="friend-list__photo"><img src="img/cristiano.jpg" /></figure>
          <div class="friend-list__badge"><img src="img/badges/3A.png" /></div>
        </div>

        <div class="friend-list__item">
          <figure class="friend-list__photo"><img src="img/leonid.jpg" /></figure>
          <div class="friend-list__badge"><img src="img/badges/7A.png" /></div>
        </div>

        <div class="button-bar padding">
          <button class="button orange">See all friends</button>
        </div>
      </div>
      -->
    </div>
  </ion-content>
</ion-view>
