<ion-view>
  <ion-content>
    <div class="container">
      <div class="profile-contents">
        <h2 class="title title--play">Requests to Play</h2>

        <div class="request-to-play" ng-repeat="notification in notifications">
          <div class="player" style="background-image: url('{{notification.attr('sender_image')}}')"></div>

          <span class="text-notification">
            <b>{{ notification.attr('sender_name') }}</b>
            would like to play you in {{ notification.attr('category') }}!<br>
            <button class="gold" ng-click="accept($index, notification)">Accept</button>
            <button class="purple" ng-click="reject($index, notification)">Reject</button>
          </span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="5%" ng-if="moreDataCanBeLoaded"></ion-infinite-scroll>
  </ion-content>
</ion-view>
