<ion-content>
  <ion-header no-border>
    <ion-toolbar transparent>
      <button start ion-button menuToggle (click)="goback()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <ion-title>Profile</ion-title>

      <button end ion-button menuToggle>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-header>

  <header class="profile-header">
    <div class="profile-header__info" *ngIf='profile'>
             <img src="{{userData.picture}}">
             <h1>{{userData.name}}</h1>
             <h5>{{profile.title}}</h5>
    </div>
    <div class="profile-header__info" *ngIf='!profile'>
      <h1> No data for Profile Page </h1>
    </div>
        <button class="profile-header__button" (click)="openModal()">Choose Organization</button>
  </header>

  <div class="title-select-causes" *ngIf="!causes">
    Select your causes
  </div>

<ul class="profile__list">
    <li class="profile__list__item" *ngFor='let cause of causes'>
      <figure>
        <img src="assets/images/causes/{{cause.slug}}.jpg" alt="{{cause.name}}">
      </figure>

      <h4>{{ cause.name }}</h4>
    </li>
  </ul>
  <img src="assets/images/icons/add.png" (click)="openCausesModal()">Add new cause(s)

  <h2 class="section-title section-title--causes"><span>Your Achievements</span></h2>
  <ul class="profile__list profile__achievements">
    <li class="profile__list__item" *ngFor='let achievement of achievements'>
      <figure>
        <img src="assets/images/achievements/on/{{achievement.slug}}.png" alt="{{achievement.name}}">
      </figure>

      <h4>{{ achievement.name }}</h4>
    </li>
  </ul>

</ion-content>
