<div class="centered-parent">
  <div class="margin10 centered-child" style="display: inline-block;">
    <% if @donations == nil %>
    <h3>You haven't made any donations!</h3>
    <% else %>
    <h3>Your Donations</h3>
    <table class="donations">
      <tr>
        <th></th>
        <th>Organization</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
      <% for donation in @donations %>
      <% organization_graph = get_graph().get_object(donation.organization.facebook_id) %>
      <tr>
        <td><%= link_to "Details", donation_path(donation) %></td>
        <td><%= organization_graph['name'] %></td>
        <td><%= number_to_currency(donation.amount) %></td>
        <td><%= local_time(donation.created_at) %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
</div>
