page-notifications {
  .profile-contents {
    padding: 10px;
    color: $gray;
    font-size: 20px;

    & > img {
      width: calc((100% / 4) - 6px);
      display: block;
      float: left;
      margin: 0px 3px 10px;
    }

    & > span {
      display: block;
      border-bottom: solid 1px $purple;
      padding: 4px 0px 10px 0px;
    }
  }
}

.purple {
  background-color: $purple !important;
  color: #fff !important;
}

.gray {
  background-color: $gray !important;
  color: #fff !important;
}
.gold {
  background-color: $gold !important;
  color: 564256 !important;
}

.orange {
  background-color: $orange !important;
  color: #fff !important;
}

.notifications {
  &:last-child{
    margin-bottom: 0;
  }
}
