<ion-header>
  <ion-navbar>
    <ion-title>Requests to Play</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="givdo-content">
  <div class="notification-msg" *ngIf="!notifications">
    <p>Nothing new to show here</p>
  </div>

  <div class="list-notification" *ngFor="let notification of notifications">
    <figure class="photo">
      <img src="{{ notification.sender_image }}" alt="">
    </figure>

    <span class="text-notification">
      <div>
        <strong>{{ notification.name }}</strong>
        would like to play you in {{ notification.category }}!
      </div>

      <button class="gold" (click)="accept(notification)">Accept</button>
      <button class="purple" (click)="reject(notification)">Reject</button>
    </span>
    <div class="clearfix"></div>
  </div>
</ion-content>
