<ion-view class="no-guest">
  <ion-content>
    <div class="title-box">
      <img src="img/warning.png" class="half-width"><br>
      Uh-Oh!</div>
      <div class="message-box">
        Givdo is currently in beta, but you can request an invite below.
      </div>
    <ion-list type="list-inset">
      <ion-item class="givdo-option" ng-click="playSingle()">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REQUEST AN INVITATION
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
