<ion-view>
  <ion-content class="has-header">
    <div class="profile-contents">
      <span><img src="img/task-small.png"> Activity</span><br>

        <div class="alert-recent-user">
          <div class="player" style="background-image: url('img/dog-rescue.jpg')"></div>
          <span class="text-notification"><b>Rocket Dog Rescue</b><br>
          You Won - Score: 15
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="alert-following">
          <div class="player" style="background-image: url('img/sfsp.jpg')"></div>
          <span class="text-notification"><b>San Francisco Suicide Prevention</b><br>
          You Lost - Score: 2
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="alert-following">
          <div class="player" style="background-image: url('img/dog-rescue.jpg')"></div>
          <span class="text-notification"><b>Rocket Dog Rescue</b><br>
          You Lost - Score: 5
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="alert-recent-user">
          <div class="player" style="background-image: url('img/breast-cancer.jpg')"></div>
          <span class="text-notification"><b>Breast Cancer Emergency Fund</b><br>
          You Won - Score: 15
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="alert-recent-user">
          <div class="player" style="background-image: url('img/sfsp.jpg')"></div>
          <span class="text-notification"><b>San Francisco Suicide Prevention</b><br>
          You Won - Score: 15
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="alert-recent-user">
          <div class="player" style="background-image: url('img/breast-cancer.jpg')"></div>
          <span class="text-notification"><b>Breast Cancer Emergency Fund</b><br>
          You Won - Score: 15
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="alert-following">
          <div class="player" style="background-image: url('img/sfsp.jpg')"></div>
          <span class="text-notification"><b>San Francisco Suicide Prevention</b><br>
          You Lost - Score: 2
          </span>
          <div class="clearfix"></div>
        </div>

        <div class="grand-total"><img src="img/give-money.png"/> <span style="color: #96939b;">Total Donations:</span> $15.08</div>

    </div>
  </ion-content>
</ion-view>
