<ion-view>
  <ion-content class="has-header">
    <div class="profile-contents">
      <span><img src="img/your-friends.png"> Your Friends</span><br>
      <div class="friend" style="background-image: url('img/lydia.jpg')"><img src="img/badges/7A.png"></div>
      <div class="friend" style="background-image: url('img/fred.jpg')"><img src="img/badges/2A.png"></div>
      <div class="friend" style="background-image: url('img/elizabeth.jpg')"><img src="img/badges/3A.png"></div>
      <div class="friend" style="background-image: url('img/carol.jpg')"><img src="img/badges/2A.png"></div>
      <div class="friend" style="background-image: url('img/rafael.jpg')"><img src="img/badges/1A.png"></div>
      <div class="friend" style="background-image: url('img/andressa.jpg')"><img src="img/badges/1A.png"></div>
      <div class="friend" style="background-image: url('img/daniela.jpg')"><img src="img/badges/4A.png"></div>
      <div class="friend" style="background-image: url('img/andre.jpg')"><img src="img/badges/5A.png"></div>
      <div class="button-bar padding">
        <button class="button orange">See all friends</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="profile-contents">
      <span><img src="img/potential-friends.png"> Potential Friends</span><br>
      <div class="friend" style="background-image: url('img/michel.jpg')"><img src="img/badges/7A.png"></div>
      <div class="friend" style="background-image: url('img/vinicius.jpg')"><img src="img/badges/1A.png"></div>
      <div class="friend" style="background-image: url('img/saney.jpg')"><img src="img/badges/2A.png"></div>
      <div class="friend" style="background-image: url('img/leo.jpg')"><img src="img/badges/2A.png"></div>
      <div class="friend" style="background-image: url('img/gustavo.jpg')"><img src="img/badges/3A.png"></div>
      <div class="friend" style="background-image: url('img/felipe.jpg')"><img src="img/badges/4A.png"></div>
      <div class="friend" style="background-image: url('img/cristiano.jpg')"><img src="img/badges/3A.png"></div>
      <div class="friend" style="background-image: url('img/leonid.jpg')"><img src="img/badges/7A.png"></div>
      <div class="button-bar padding">
        <button class="button orange">See all potential friends</button>
      </div>
    </div>
  </ion-content>
</ion-view>
