<ion-view >
  <ion-content class="has-header">
    <div class="wheater-box weather rain">
      </div>
      <div class="message-box gray">
        You Lost
      </div>
      <div class="message-box">But the points you won in this game still go to the charity you chose, so there is still reason to celebrate! Keep it up!</div>
      <div class="score">
        <div class="score purple">
          <div class="player" style="background-image: url('img/profile-pic-example.jpg')"></div>
          <p>José Silmarovi Jr: 10 points</p>
        </div>
        <div class="clearfix"></div><br>
        <div class="score gold">
          <div class="player winner" style="background-image: url('img/profile-opponent.jpg')"></div>
          <p>Carlos Henrique Jr: 20 points</p>
        </div>
      </div>
    <ion-list type="list-inset">
      <ion-item class="givdo-option" ng-click="playSingle()">
        REQUEST INVITATION
      </ion-item>
    </ion-list>
    <div class="button-bar padding">
      <button class="button orange">REMATCH</button>
    </div>



  </ion-content>
</ion-view>
