<ion-view>
  <ion-content>
    <div class="profile-contents">
      <span><img src="img/requests.png"> Requests to Play</span><br>
        <div class="request-to-play">
          <div class="player" style="background-image: url('img/lydia.jpg')"></div>
          <span class="text-notification"><b>Lydia Montagnese</b> would like to play you in Sports!<br>
          <button class="gold">Accept</button>
          <button class="purple">Reject</button>
          </span>
          <div class="clearfix"></div>
        </div>
        <div class="request-to-play">
          <div class="player" style="background-image: url('img/profile-opponent.jpg')"></div>
          <span class="text-notification"><b>Carlos Henrique Jr</b> would like to play you in Culture!<br>
          <button class="gold">Accept</button>
          <button class="purple">Reject</button>
          </span>
          <div class="clearfix"></div>
        </div>
    </div>
    <div class="profile-contents">
      <span><img src="img/notification-small.png"> Notifications</span><br>
        <div class="alert-recent-user">
          <div class="player" style="background-image: url('img/lydia.jpg')"></div>
          <span class="text-notification"><b>Lydia Montagnese</b> joined to Givdo<br>
          <button class="gold">Add Lydia Montagnese</button>
          </span>
          <div class="clearfix"></div>
        </div>
        <div class="alert-recent-user">
          <div class="player" style="background-image: url('img/profile-opponent.jpg')"></div>
          <span class="text-notification"><b>Carlos Henrique Jr</b> joined to Givdo<br>
          <button class="gold">Add Carlos Henrique Jr.</button>
          </span>
          <div class="clearfix"></div>
        </div>
        <div class="alert-following">
          <div class="player" style="background-image: url('img/snatam-kaur.jpg')"></div>
          <span class="text-notification"><b>Snatam Kaur</b> is following you<br>
          <button class="gold">Follow Snatam Kaur back</button>
          </span>
          <div class="clearfix"></div>
        </div>
    </div>
  </ion-content>
</ion-view>
