<ion-view>
  <ion-content class="has-header">
    <div class="cover" style="background-image: url('img/cover-example.jpg')">
      <div class="profile-picture" style="background-image: url('img/profile-pic-example.jpg');"></div>
      <span class="profile-name">José Silmarovi Jr.</span>
    </div>
    <div class="profile-contents">
      <span><img src="img/causes-icon.png">Your Causes</span><br>
      <img src="img/causes/1.jpg">
      <img src="img/causes/2.jpg">
      <img src="img/causes/3.jpg">
      <img src="img/causes/4.jpg">
      <img src="img/add-icon.png">
    </div>
    <div class="profile-contents">
      <span><img src="img/achievements-icon.png">Your Achievements</span>
      <div class="badge-givdo"><img src="img/badges/1A.png">Giver</div>
      <div class="badge-givdo"><img src="img/badges/2A.png">Samaritan</div>
      <div class="badge-givdo"><img src="img/badges/3.png">Altruist</div>
      <div class="badge-givdo"><img src="img/badges/4.png">Benefactor</div>
      <div class="badge-givdo"><img src="img/badges/5.png">Patron</div>
      <div class="badge-givdo"><img src="img/badges/6.png">Philanthropist</div>
      <div class="badge-givdo"><img src="img/badges/7.png">Grantor</div>
    </div>
  </ion-content>
</ion-view>
