<ion-view class="welcome">
  <ion-content class="has-header">
    <div class="welcome-box">
      <div class="profile-picture" style="background-image: url('img/profile-pic-example.jpg');"></div>
    </div>
    <div class="title-box">
      Welcome to Givdo</div>
      <div class="message-box">
        With this app you can play trivia with your friends and win points that are donated to the charity of your choice!<br/><br/>
        We're excited you joined our community!
      </div>
    <ion-list type="list-inset">
      <ion-item class="givdo-option" ng-click="playSingle()" style="horizontal-align: center;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BUILD YOUR PROFILE
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
