<ion-view>
  <ion-content>
    <div class="container-activity">
      <h2 class="title title--task">Activity</h2>

      <div class="notification-msg" ng-hide="vm.hasActivities">
        <p>No activity to show</p>
      </div>

      <div class="alert-recent-user" ng-repeat="activity in vm.activities">
        <div class="player" style="background-image: url('{{ activity.attr('organization_picture') }}')"></div>
        <span class="text-notification">
          <strong>{{ activity.attr('organization_name') }}</strong><br>
          {{ vm.activityNameToLabel(activity.attr('name')) }} - Score: {{ activity.attr('score') }}
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </ion-content>

  <div class="grand-total">
    <h2 class="title title--give-money">
      Total Donations:
      <span>{{ vm.totalScore | currency }}</span>
    </h2>
  </div>
</ion-view>
