table.donations {
  border-collapse: collapse;    
  border: 2px gray solid;
}

table.donations td {
  padding: 5px 5px 5px 5px;
  border: 2px #CCCCCC solid;
}

table.donations th {
  padding: 5px 5px 5px 5px;
  border: 2px #CCCCCC solid;
}