div.organizations {
  width: 100%;
  min-height: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #F0F0F0;
  display: inline-block;
}

div.organization-box {
  float: left; 
  border: 1px solid #FF6600; 
  border-radius: 10px;
  margin-bottom: 10px; 
  display: inline-block;
  width: 30%;  
  margin: 8px 8px 8px 8px;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

div.organization-img {
  float: left; 
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

div.organization-tags {
  clear: both;
}

div.organization-mission {
  clear: both;  
}
