<ion-view>
  <ion-content>
    <ion-slide-box show-pager="false" does-continue="true" on-slide-changed="slideChanged($index)">
      <ion-slide ng-repeat="organization in organizations">
        <div class="list card">
          <div class="item item-avatar">
            <img ng-src="{{organization.picture}}">
            <h2>{{ organization.name }}</h2>
           </div>
          <div class="item item-text-wrap">
            <p>{{ organization.mission }}</p>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-balanced" ng-click="selectOrganization()">
        Play to Give!
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
