<div class="donate_amt">
	<button class="coin givdo-button">
	  1
	</button>
	<button class="coin givdo-button">
	  2
	</button>
	<button class="coin givdo-button">
	  3
	</button>
	<button class="coin givdo-button">
	  4
	</button>
	<button class="coin givdo-button givdo-button-selected">
	  5
	</button>
</div>

<td-cards>
	<td-card ng-repeat="card in cards" on-swipe-left="leftSwipe($index)" on-swipe-right="rightSwipe($index)" center-cards>
		<div class="image">
			<img ng-src="{{card.picture}}">
		</div>
		<div class="title">
			{{card.name}}
		</div>
		<div class="location">
			{{card.city}}
			{{card.state}}
		</div>
		<div class="mission">
			{{card.mission | limitTo: 200}}{{card.mission.length > 200 ? '...' : ''}}
		</div>
	</td-card>
</td-cards>

<div class="margin-top-10" id="toggle">
	<button class="givdo-button">
	  Donate
	</button>
	<button class="givdo-button givdo-button-selected">
	  Volunteer
	</button>
</div>