<ion-view>
  <ion-content class="has-header">
    <ion-slide-box show-pager="false" does-continue="true" on-slide-changed="slideChanged($index)">
      <ion-slide ng-repeat="organization in organizations">
        <ion-list type="card">
          <ion-item class="item-avatar">
            <img ng-src="{{organization.picture}}">
            <h2>{{ organization.name }}</h2>
          </ion-item>
          <ion-item class="item-text-wrap">
            <p>{{ organization.mission }}</p>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slide-box>
  </ion-content>

  <ion-footer-bar>
    <div class="button-bar">
      <button class="button button-balanced" ng-click="selectOrganization()">
        Play to Give!
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
