<ion-view >
  <ion-content class="has-header">
    <div class="wheater-box weather" ng-class="winner ? 'snow' : 'rain'">
      </div>
      <div class="message-box gold" ng-show="winner">
        You Win
      </div>
      <div class="message-box gray" ng-hide="winner">
        You Lost
      </div>
      <div class="message-box" ng-show="winner">Good job! You're getting closer to your next badge!</div>
      <div class="message-box" ng-hide="winner">But the points you won in this game still go to the charity you chose, so there is still reason to celebrate! Keep it up!</div>
      <div class="score">
        <div class="score purple" ng-repeat="player in players | orderBy: '-attributes.score'">
          <div class="player" style="background-image: url('{{ player.attr('image') }}')"></div>
          <p>{{ player.attr('name') }}: {{ player.attr('score') }} points</p>
        </div>
        <div class="clearfix"></div><br>
      </div>
  </ion-content>

  <<ion-footer-bar>
    <div class="title title-center">
      <button class="button button-block orange">REMATCH</button>
    </div>
  </ion-footer-bar>
</ion-view>
