<ion-view>
  <ion-content class="has-header">
    <div class="row">
      <div class="col" ng-repeat="player in players | orderBy:'-attributes.score'" class="calm">
        <ion-list>
          <ion-item class="item-thumbnail-left">
            <img ng-src="{{ player.attr('image') }}">
            <h2>Name</h2>
            <p>{{ player.attr('name') }}</p>
          </ion-item>
          <ion-item>
            <h2>Score</h2>
            <p>{{ player.attr('score') }}</p>
          </ion-item>
          <ion-item>
            <h2>Organization</h2>
            <p>{{ player.attr('organization') }}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
