<ion-view>
  <ion-content>
    <div class="wheater-box weather" ng-class="winner ? 'snow' : 'rain'"></div>

    <div ng-show="winner">
      <div class="message-box gold">You won {{ points }} points</div>
      <div class="message-box">
        Good job! You're getting closer to your next badge!
      </div>
    </div>

    <div ng-hide="winner">
      <div class="message-box gray">You Lost</div>
      <div class="message-box">
        But the points you won in this game still go to the charity you chose, so there is still reason to celebrate! Keep it up!
      </div>
    </div>

    <div class="score">
      <div class="score-result gray" ng-repeat="player in players | orderBy: '-attributes.score'">
        <div class="score-result__player"><img src="{{ player.attr('image') }}" /></div>
        <p class="score-result__points">{{ player.attr('name') }}: {{ player.attr('score') }} points</p>
      </div>
    </div>

    <div class="button-bar margin-bottom-30 padding">
      <button class="button orange" ng-click="playSingle()">Rematch</button>
    </div>
  </ion-content>
</ion-view>
