<ion-view class="new-game">
  <ion-content>
    <div class="timer-bar" data-progress="{{ progressval }}"></div>

    <div class="versus">
      <div class="player" ng-repeat="player in players" style="background-image: url('{{ player.attr('image') }}')"></div>
    </div>
    <div class="clearfix"></div>

    <div class="title-box">{{ trivia.attr('question') }}</div>

    <ion-list type="list-inset">
      <div class="disabled" ng-show="answer.submitted"></div>
      <ion-radio-fix class="givdo-option"
                     ng-repeat="option in options"
                     icon="ion-ios-circle-filled"
                     name="answer_option"
                     ng-model="answer.option"
                     ng-disabled="answer.submitted"
                     ng-value="option"
                     ng-class="{'correct': option.attr('correct'), 'incorrect': (answer.submitted && !option.attr('correct'))}">
        {{ option.attr('text') }}
      </ion-radio-fix>
    </ion-list>

    <div class="button-bar padding">
      <button class="button button-balanced"
              ng-hide="answer.submitted"
              ng-click="submitAnswer()"
              ng-disabled="!answer.option">Confirm</button>

      <button class="button button-royal"
              ng-show="answer.submitted"
              ng-click="next()">Next question</button>
    </div>
  </ion-content>
</ion-view>
