<ion-view view-title="Trivia">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <strong>{{ trivia.question }}</strong>
      </div>
    </div>

    <div class="list list-inset">
      <ion-radio ng-repeat="option in trivia.options" ng-value="option" ng-model="answer.option">
        {{ option.text }}
      </ion-radio>
    </div>

    <div class="button-bar padding">
      <button class="button button-assertive">Skip</button>
      <button class="button button-balanced" ng-click="submitAnswer()">Confirm</button>
    </div>
  </ion-content>
</ion-view>
