<div class="notification-item" [ngClass]="{'notification-item__activity' : !buttons}">
  <figure class="avatar">
    <img src="{{ notification.senderImage }}" alt="">
  </figure>

  <div class="text-notification">
    <strong>{{ notification.name }}</strong>
    <span *ngIf="buttons">would like to play you in {{ notification.category }}!</span>
    <span *ngIf="!buttons">You Won - Score {{ notification.score }}</span>
  </div>

  <div class="buttons" *ngIf="buttons">
    <button class="button-reject" (click)="reject.emit(notification)">
      reject
    </button>

    <button class="button-accept" (click)="accept.emit(notification)">
      accept
    </button>
  </div>
</div>
